{% extends 'base.html.twig' %}

{% block title %}Hello ContractListController!{% endblock %}

{% block body %}


    <h1>Liste des contrats</h1>
    <ul>
        {% for contract in contracts %}
            <li>
                ID : {{ contract.getId }}<br>
                Vehicle UID : {{ contract.getVehicleUid }}<br>
                Customer UID : {{ contract.getCustomerUid }}<br>
                Sign Datetime : {{ contract.getSignDatetime|date('d-m-Y H:i:s') }}<br>
                Loc Begin Datetime : {{ contract.getLocBeginDatetime|date('d-m-Y H:i:s') }}<br>
                Loc End Datetime : {{ contract.getLocEndDatetime|date('d-m-Y H:i:s') }}<br>
                Returning Datetime : {{ contract.getReturningDatetime|date('d-m-Y H:i:s') }}<br>
                Price : {{ contract.getPrice }}
            </li>
            <br>
        {% endfor %}
    </ul>
{% endblock %}    




