{% extends 'base.html.twig' %}

{% block title %}Hello BillingController!{% endblock %}

{% block body %}
 <div class="container bg-warning">
    <h1 class= text-primary>Formulaire de Paiement</h1>
    {# Pour afficher le formulaire #}
    {{ form_start(billingform) }}
        <div class="form-group">
            {{ form_label(billingform.contract_id, 'Id du contrat concerné par le paiement', {'label_attr': {'class': 'fw-bold'}}) }}
            {{ form_widget(billingform.contract_id, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(billingform.amount, 'Montant payé', {'label_attr': {'class': 'fw-bold'}}) }}
            {{ form_widget(billingform.amount, {'attr': {'class': 'form-control'}}) }}
        </div>
     {{ form_end(billingform) }}
</div>

{% endblock %}
